.blogs-create{
  
  .blogs-header{
    width: 100%;
    height:65px;
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
    z-index: 100;
    background:#fff;
    box-sizing: border-box;

    .header-left{
      width: 70%;
      box-sizing: border-box;
      .title-input{
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        padding: 5px;
        border:none;
        outline: none;
      }
    }
  }
  .blogs-content{
    width: 100%;
    margin-top: 60px;
    display: flex;
    box-sizing: border-box;
    .common{
      width: 50%;
      min-height: 900px;
     
      box-sizing: border-box;
      padding: 20px;
    }
    .editor-box{
      background:#f8f9fa ;
      border-right: 1px solid #ddd;
    }
    .content-preview{
      background: #fff;
    }
    
    
    
  }
}
html{
  overflow-y :visible;
}